* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.c_grey {
    color: #B1B1B1;
}
.bg_green {
    background-color: #D5F9BA;
}
.bg_white {
    background-color: white;
}

/* Sfondo */
.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#009688 20%, #DADBD4 10%);
}

/* Main */
#root {
    display: flex;
    width: 1200px;
    height: 750px;
    margin: auto;
    box-shadow: 5px 5px 10px grey;
}

/* Section - left */
#nav-left {
    width: 400px;
    height: 100%;
    background-color: white;
}

.container-top {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #EAEAEA;
}

.top {
    width: 50%;
    height: 100%;
    line-height: 70px;
}
.my_img > img {
    width: 25%;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 10px;
}
.my_img > span {
    margin-left: 5px;
    font-weight: 600;
}
.icons {
    padding-right: 10px;
    text-align: right;
}
.icons > i {
    margin-right: 10px;
    font-size: 20px;
    vertical-align: middle;
    color: #B1B1B1;
}
i:hover {
    cursor: pointer;
    color: #8b8a8a;
}
/* Section - left - notifiche */
.notifiche {
    display: flex;
    align-items: center;
    height: 85px;
    width: 100%;
    padding-left: 15px;
    background-color: #8EDAFC;
}

.notifiche > i {
    font-size: 22px;
    background-color: white;
    border-radius: 50%;
    color: #8EDAFC;
    padding: 12px 10px;
}

.text-notifiche {
    margin-left: 10px;
}

.text-notifiche > p {
    font-size: 15px;
    font-weight: 500;
}

.text-notifiche > span {
    font-size: 13px;
    text-decoration: underline;
}
/* Input-nav */
.container-input-nav {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 5px;
    background-color: #FAFAFA;
}

#input_nav{
    width: 85%;
    height: 100%;
    border: none;
}

.container-input-nav-i {
    height: 40px;
    width: 15%;
    line-height: 40px;
    background-color: white;
}

.container-input-nav-i > i {
    vertical-align: middle;
    padding: 0 20px;
}

/* Lista chat */
#contatti {
    height: calc(100% - 205px);
    /* background-color: tomato; */
    overflow-y: auto;
}

.chat {
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    cursor: pointer;
    border-top: 1px solid rgb(230, 229, 229);
    border-bottom: 1px solid rgb(238, 233, 233);
}

.chat > img {
    width: 14%;
    margin-left: 20px;
    border-radius: 50%;
}
.chat:active {
    background-color: #E9EBEB;
}


.user {
    margin-left: 10px;
    padding-right: 55px;
}

.user > p {
    font-weight: 500;
}
.user > span {
    font-weight: 300;
    font-size: 12px;
}

.chat > p {
    font-weight: 300;
    font-size: 12px;
    padding-left: 60px;
}


/* Section - right */
#section-right {
    width: calc(100% - 400px);
    height: 100%;
    background-color: burlywood;
}

.avatar {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}
.avatar > img {
    width: 13%;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 10px;
}

.border {
    border-left: 1px solid #cecccc;
}

/* Section - Corpo dei messaggi */
#container-messaggi{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 140px);
    overflow-y: auto;
    padding: 20px 30px 0 30px;
    background-image: url("../img/mine.jpg");
}

.messaggio{
    display: inline-block;
    width: 50%;
    /* height: 60px; da modificare  */
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
}

.inviato {
    align-self: flex-end; 
}

h6 {
    text-align: right;
    font-weight: 500;
}

h6::after {
    content: "\2713";
    margin-left: 5px;
    color: rgb(15, 114, 180);
}



/* Section - bottom - invio messaggi */
#container-input-mess{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70px;
    padding: 10px 5px;
    line-height: 50px;
    background-color: #F3EEEA;
}

.smile,
.microfono {
    width: 10%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

#messaggi{
    width: 80%;
    height: 100%;
    border: none;
    padding-left: 10px;
    border-radius: 5px;
}
