<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js" integrity="sha512-0fcCRl828lBlrSCa8QJY51mtNqTcHxabaXVLPgw/jPA5Nutujh6CbTdDgRzl9aSPYW/uuE7c4SffFUQFBAy6lg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="shortcut icon" href="img/icona.png" type="image/x-icon">
        <link rel="stylesheet" href="css/style.css">
        <title>Whatsapp Web</title>
    </head>
    <body>
        <!-- Sfondo -->
        <div class="wrapper">
            <!-- Main -->
            <main id="root">
                <!-- Section - nav left -->
                <section id="nav-left">
                    <div class="container-top" :class="tema">
                        <div class="my_img top">
                            <img src="img/avatar_io.jpg" alt="">
                            <span>Giada Meloni</span>
                        </div>
                        <div class="icons top">
                            <span>{{tema}}</span>
                            <i class="fas fa-circle-notch"
                            @click="toggle"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <!-- Notifiche nuovi messaggi -->
                    <div class="notifiche" :class="tema">
                        <i class="far fa-bell-slash"></i>
                        <div class="text-notifiche">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <span class="c_grey">Attiva notifiche deckstop</span>
                        </div>
                    </div>
                    <!-- /Notifiche nuovi messaggi -->

                    <!-- Nav-input -->
                    <div class="container-input-nav" :class="tema">
                        <div class="container-input-nav-i">
                            <i class="fas fa-search c_grey"></i>
                        </div>
                        <input type="text" name="" id="input_nav" placeholder="Cerca o inizia una nuova chat" v-model="ricercaChat" @keydown="filteredList">
                    </div>
                    <!-- /Nav-input -->

                    <!-- Contenitore lista chat -->
                    <div id="contatti" :class="tema">
                        <div v-for="(contact, index) in filteredList" class="chat"
                        :class="(tema == 'light') ? 'chat-light' : 'dark'"
                        :class="(index == activeIndex) ? 'active' : ''"
                            @click="classeActive(index)">
                            <img :src="goToImg(index)" :alt="contact.name">
                            <div class="user">
                                <p>{{ contact.name }}</p>
                                <span class="c_grey">{{ lastMessage(index) }}</span>
                            </div>
                            <p>{{ lastDataMessage(index) }}</p>
                        </div>
                    </div>
                    <!-- /Contenitore lista chat -->
                </section>
                <!-- /Section - nav left -->

                <!-- Section - right -->
                <section id="section-right">
                    <!-- Top -->
                    <div class="container-top border" :class="tema">
                        <div class="avatar">
                            <img :src="goToImg(activeIndex)" alt="Michele">
                            <div class="user">
                                <p>{{ contacts[activeIndex].name }}</p>
                                <span class="c_grey">Ultimo accesso oggi alle {{ lastDataMessage(activeIndex) }}</span>
                            </div>
                        </div>
                        <div class="icons top">
                            <i class="fas fa-search c_grey"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <!-- /Top -->

                    <!-- Corpo dei messaggi -->
                    <div id="container-messaggi" 
                    :class="(tema == 'light') ? 'chat-box' : 'dark-box'">
                        <div v-if="(message.status == 'sent')" 
                        v-for="(message, index) in contacts[activeIndex].messages" 
                        class="messaggio inviato bg_green">
                            <p>{{ message.text }}</p>
                            <i class="fas fa-chevron-down"></i>
                            <h6 class="c_grey">{{ message.date }}</h6>
                        </div>
                        <div v-else class="messaggio ricevuto ">
                            <div class="messaggio inviato bg_white">
                                <p>{{ message.text }}</p>
                                <i class="fas fa-chevron-down"></i>
                                <h6 class="c_grey">{{ message.date }}</h6>
                            </div>
                        </div>
                    </div>

                    <!-- /Corpo dei messaggi -->
                    
                    <!-- Barra invio messaggio -->
                    <div id="container-input-mess" 
                    :class="(tema == 'light') ? 'input_mess_light' : 'dark'">
                        <div class="smile">
                            <i class="far fa-smile-wink c_grey"></i>
                        </div>
                        <input type="text" id="messaggi" placeholder="Scrivi un messaggio"
                        v-model="nuovoMessaggio" @keydown.enter="addNewMess(activeIndex)">
                        <div class="microfono">
                            <i class="fas fa-microphone c_grey"></i>
                        </div>
                    </div>
                    <!-- /Barra invio messaggio -->
                </section>
                <!-- /Section - right -->

            </main>
            <!-- /Main -->
        </div>
        <!-- /Sfondo -->

        <!-- Javascript -->
        <script type="text/javascript" src="js/script.js"></script>
    </body>
</html>